<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="{{site.baseurl}}">Introduction</a>
          <a class="navbar-brand" href="{{site.baseurl}}/research">Research</a>
          <a href="{{site.baseurl}}/blogs" class="navbar-brand">Blogs</a>
        </div>
</nav>