---
layout: default
---

{{content}}

{% for post in site.posts %}
<div class="card">
    <h5>Title: {{post.title}}</h5>
    <p>Speaker: <a href="{{post.speaker-page}}">{{post.speaker}}</a></p>
    <p>Time: {{post.date |date: "%e %B, %Y %H:%M %Z"}}</p>
    <a data-toggle="collapse" href="#post{{forloop.index}}"><p>More Info...</p></a>
    <div class="collapse" id="post{{forloop.index}}">
            <p>{{post.content | truncatewords: 150 }} <a href="{{site.baseurl}}{{post.url}}">Full Information</a></p>
    </div>
     
</div>
{% endfor %}